@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.qc-n {
  font-family: var(--quicksand);
  font-weight: 400;
}
.qc-md {
  font-family: var(--quicksand);
  font-weight: 500;
}
.qc-b {
  font-family: var(--quicksand);
  font-weight: 700;
}

.poppins-n {
  font-family: var(--poppins);
  font-weight: 400;
}
.poppins-md {
  font-family: var(--poppins);
  font-weight: 500;
}
.poppins-b {
  font-family: var(--poppins);
  font-weight: 700;
}

.txt-cab {
  font-family: var(--cabin);
}
